:root {
    --main-color: #7bf0f0;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;
    --nav-height: 60px;
    --space-top: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
}

.main-color {
    color: var(--main-color);
}

::selection{
    background-color: var(--main-color);
    color: #000000;
}

.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}

.nav a {
    color: var(--text-color);
}


.logo {
    font-size: 2rem;
    font-weight: 900;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-menu li ~ li {
    margin-left: 30px;
}

.nav-menu a {
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover,.nav-menu a:active{
    color: var(--main-color);
}

/* -------- login button styling ------- */
.btnLogin-popup{
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-hover::before{
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    transition: .3s ease-in-out;
}
 
.btn-hover:hover::before{
    width: 100%;
}

.btnLogin-popup span, 
.btnLogin-popup .bxs-right-arrow{
    z-index: 1;
}

.nav-menu li :nth-last-child() a:hover{
    color: white;
}

/* ------End Login Button Styling------ */
/* Wrapper Styling ----  */

.wrapper{
    /* position: relative; */
    position: absolute;
    left: 40vw;
    top: 11vw;
    width: 20.83vw;
    height: 60vh;
    background: transparent;
    border: 2px solid rgb(30, 109, 109);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(11, 74, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease,height .2s ease;
    z-index: 1000;
    
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 71.23vh;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 2.92vw;
    height: 6.16vh;
    /* background: rgb(30, 109, 109); */
    background: rgb(123, 240, 240);
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    /* color: rgb(30, 109, 109); */
    color: rgb(123, 240, 240);
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 6.8vh;
    /* border-bottom: 2px solid rgb(30, 109, 109); */
    border-bottom: 2px solid rgb(123, 240, 240);
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    /* color: rgb(30, 109, 109); */
    color: rgb(123, 240, 240);
    font-weight: 700;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    /* color: rgb(30, 109, 109); */
    /* color: rgb(123, 240, 240); */
    color: #ffffff;
    /* font-weight: 600; */
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    /* color: rgb(30, 109, 109); */
    color: rgb(123, 240, 240);
    line-height: 7.8vh;
}

.remember-forgot{
    font-size: .9em;
    /* color: rgb(30, 109, 109); */
    color: rgb(123, 240, 240);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.remember-forgot label input{
    /* accent-color: rgb(30, 109, 109); */
    accent-color: rgb(123, 240, 240);
    margin-right: 3px;
}

.remember-forgot a{
    /* color: rgb(30, 109, 109); */
    color: rgb(123, 240, 240);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn-wrapper{
    width: 100%;
    height: 6.16vh;
    background: rgb(123, 240, 240);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
}

.login-register{
    font-size: .9em;
    color: rgb(30, 109, 109);
    /* color: rgb(123, 240, 240); */
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    /* color: rgb(30, 109, 109); */
    color: rgb(123, 240, 240);
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

/* ---------- End wrapper Styling ---------- */

.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
    color: unset;
}

.btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
    width: 100%;
}

.btn i,
.btn span {
    z-index: 1;
}

.btn i {
    margin-right: 1rem;
}

.hamburger-menu {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: var(--size);
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

.hero-slide-item {
    padding-top: 40%;
    position: relative;
    overflow: hidden;
}

.hero-slide-item img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
}

.item-content-wraper {
    padding-left: 5rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.item-content-wraper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.item-content-title {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
}

.movie-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(var(--space-top) / 2);
}

.movie-info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.movie-info span {
    margin-left: 5px;
}

.movie-info i {
    color: var(--main-color);
}

.movie-info ~ .movie-info {
    margin-left: 5px;
}

.item-content-description {
    font-size: 1.15rem;
    margin-top: var(--space-top);
    line-height: 1.5rem;
}

.item-action {
    margin-top: var(--space-top);
}

.carousel-nav-center {
    position: relative;
}

.carousel-nav-center .owl-nav button i {
    font-size: 3rem;
}

.carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 5px;
}

.carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-nav button i {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.owl-nav button:hover i {
    color: var(--main-color);
}

.top-down {
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-4 {
    transition-delay: 0.4s;
}

.delay-6 {
    transition-delay: 0.6s;
}

.delay-8 {
    transition-delay: 0.8s;
}

.owl-item.active .top-down {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.movie-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 140%;
    cursor: pointer;
}

.movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
}

.movie-item:hover img {
    transform: scale(1.2);
}

.movie-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.movie-item-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.movie-item-title {
    color: var(--text-color);
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
}

.section {
    padding-top: 80px;
}

.section-header {
    margin-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    border-left: 4px solid var(--main-color);
    display: flex;
    align-items: center;
}

footer.section {
    margin-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: var(--box-bg);
}

footer a:hover {
    color: var(--main-color);
}

footer a.logo {
    margin-top: -2.5rem;
    display: block;
}

footer a.logo:hover {
    color: unset;
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-item {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
}

.social-item:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

.social-item ~ .social-item {
    margin-left: 20px;
}

footer .content {
    margin-top: 20px;
}

.footer-menu {
    list-style-type: none;
}

.footer-menu a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {
    transform: translateX(5px);
}

.copyright {
    padding: 10px;
    border-top: 1px solid var(--body-bg);
    background-color: var(--box-bg);
    text-align: center;
}


/* ------- RESPONSIVE -------*/

@media only screen and (max-width: 1280px) {
    html {
        font-size: 14px;
    }

    .hero-slide-item {
        padding-top: 50%;
    }

    .item-content-wraper {
        width: 50%;
    }
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }

    .container {
        padding: 0 15px;
    }

    .hero-slide-item {
        height: max-content;
        padding-top: unset;
    }

    .item-content-wraper {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-right: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .hero-slide-item-content {
        position: relative;
    }

    .hero-slide-item img {
        height: 100%;
    }

    .item-content-title {
        font-size: 3rem;
    }

    .hamburger-menu {
        display: grid;
    }

    .nav-menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 10px 30px;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* ----- Movie Page ----- */

.movie-banner{
    width: 90%;
    max-width: 1400px;
    margin: 10px auto;
    min-height: 520px;
    padding: 60px 40px 40px 40px;
    position: relative;
    display: flex;
    justify-content: center;
}

.movie-banner::after{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, 0.7);
    background: linear-gradient(0deg, rgb(8,8,8) 0%, rgba(0,0,0,0.6) 100%);
}

.m-banner-img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.m-banner-img::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(32, 32, 32, 0.7);
    background: linear-gradient(-90deg, rgba(37,37,37,0.2) 0%, rgba(15,15,15,0.3) 100%);
}


.m-banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner-container{
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    position: relative;
}

.title-container{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-title h1{
    color: var(--main-color);
    font-weight: 800;
    font-size: 3.3rem;
    line-height: 50px;
    letter-spacing: 1px;
}

.title-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.title-bottom .category{
    font-size: 0.8rem;
    margin-right: 40px;
}

.title-bottom .category strong{
    font-weight: 500;
    font-size: 1.2rem;
    color: #ffffff;
}

.title-bottom .category a{
    color: var(--main-color);
    margin-right: 5px;
}

.play-btn{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #92e2e8;
    z-index: 3;
    background-color: #219496c1;
    position: relative;
}

.play-btn a{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all ease 0.3s;
}

.play-btn a:hover{
    background-color: #a4ecedc1;
    transition: all ease 0.3s;
}

.play-btn i{
    font-size: 2rem;
    margin-left: 4px;
}

.play-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 500px;
}

.play-btn::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 160%;
    height: 160%;
    border: 1px solid #ffffff26;
    background-color: #8ad2df70;
    z-index: -1;
}

#play{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.7);
    z-index: 108;
    display: none;
}

.play-movie{
    width: 80%;
}

.play-movie video,
.play-movie iframe{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    z-index: 108;
}

.close-movie{
    position: fixed;
    right: 60px;
    top: 60px;
    font-size: 2rem;
    color: var(--main-color);
    transition: all ease 0.3s;
}

.close-movie:hover{
    opacity: 0.6;
    transition: all ease 0.3s;
}

.active-popup{
    display: flex !important;
}

.movie-details{
    max-width: 1000px;
    width: 100%;
    margin: 30px auto 20px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.movie-details strong{
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.movie-details p{
    color: #747474;
    margin: 10px 0px;
}

.screenshots{
    width: 100%;
    max-width: 800px;
    margin: 0px auto 50px auto;
}

.screenshots strong{
    color: var(--main-color);
    font-size: 3rem;
    font-weight: 700;
}

.ss-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.screenshots img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Download  */

.download-movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.download-container{
    max-width: 1000px;
    width: 100%;
}

.download-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgba(136, 136, 136, 0.06);
}

.download-box a,
.download-box span{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a2a2a52;
    color: #d8d8d8;
    letter-spacing: 1px;
}

.download-box span i{
    margin-right: 10px;
}

.download-box a{
    color: var(--main-color);
    transition: all ease 0.3s;
}

.download-box a:hover{
    color: #3ba1a1;
    transition: all ease 0.3s;
}

/* contact us page */

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 700;
    color: #A363AA;
    font-size: 3rem;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 7px;
    background-color: #A363AA;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    font-size: 15px;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    font-size: 15px;
}

.contact-inputs:focus{
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff994f,#fa6d86);
    cursor: pointer;
}

.contact-left button i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.contact-right img{
    width: 500px;
}

@media (max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}

/* FAQs-page start  */

.faq-section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-title{
    font-size: 3rem;
    margin: 2rem 0rem;
    color: var(--main-color);
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #7BF0F0;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-size: 1.8rem;
    color: var(--main-color);
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.3s ease;
}

.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform .5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* team page start  */

.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebeaea;
}

.card-container p{
    text-align: center;
    margin: 30px 0px 10px 0px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
    font-weight: bold;
}

.card-container h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #3ba1a1;
}

.card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.card{
    background-color: white;
    padding: 70px 50px 0px 50px;
    width: 25%;
    max-width: 350px;
    margin: 10px;
    border-radius: 10px;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.profile-img img{
    width: 100%;
    height: 100%;
}

.card-content{
    text-align: center;
}

.card-content h3{
    font-size: 1.4rem;
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.9);
}

.card-content p{
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    margin: 0;
}

.card-social-media{
    margin-top: 30px;
}

.card-social-media i{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    background-color: #ebeaea;
    padding: 15px;
    margin: 0 3px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: 0.5;
    cursor: pointer;
}

.card-social-media i:hover{
    background-color: #dddddd;
    color: rgba(0, 0, 0, 0.9);
}

/* ------ terms page start  */

.terms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms-box{
    max-width: 460px;
    background-color: #111;
    color: #fff;
    padding: 60px 30px;
}

.terms-text{
    padding: 0px 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 500;
    color: #f1f1f1;
}

.terms-text::-webkit-scrollbar{
    width: 2px;
    background-color: #282828;
}

.terms-text::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

.terms-text h2{
    color: var(--main-color);
    text-transform: uppercase;
}

.terms-text b{
    color: var(--main-color);
}

.terms-box h4{
    font-size: 13px;
    text-align: center;
    padding: 0px 40px;
}

.terms-box h4 span{
    color: var(--main-color);
}

.terms-buttons{
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
}

.btn-terms{
    height: 50px;
    width: calc(50% - 6px);
    border: 0px;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    transition: .3s linear;
    cursor: pointer;
}

.aqua-button{
    background-color: var(--main-color);
}

.grey-button{
    background-color: #282828;
}

.btn-terms:hover{
    opacity: .6;
}